@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Quicksand:wght@300;400;500;600;700&family=Turret+Road:wght@700&display=swap');

body {
    background-color: #272727;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    min-width: 360px;
}
header{
    background-color: #5d5f6e;
    padding: 0;
    margin: 0;
    min-width: 360px;
}
#logo {
    font-family: 'Turret Road', cursive;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   /* width: auto;*/
    display: inline-block;
    letter-spacing: 0.3rem;
    padding: 0 0 0 2rem;
    margin: 0 0 0 0;
}
nav {
    padding: 1.5rem 0 1.5rem 2rem;
}
nav a {
    font-family: 'Gruppo', cursive;
    font-size: 2rem;
    color: #ffffff;
    width: 50%;
    margin: 0 1.2rem 0 1.2rem;
    text-decoration: none;
}
#barraEsquerda {
    background-color: red;
    width: 15%;
    display: inline-block;
    margin: 0;
}
#barraEsquerda p{
    vertical-align:top;
}
main {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: aquamarine;
    vertical-align: top;
}
article{
    padding: 0 0 0 0;
    max-width: 30rem;
    min-width: 30rem;
    background-color: aqua;
    margin: 0;
}
h1, h2 {
    font-family: 'Gruppo', cursive;   
    text-align: left;
}
h1 {
    font-size: 2rem;
    padding-left: 4rem;
    margin: 2.5rem 0 0 0;
}
h2 {
    font-size: 1.6rem;
    padding-left: 2rem;
    margin: 0.5rem;
}
#first-paragraph p {
    width: 50%;
    display: inline-block;
}
#first-paragraph img {
    display: inline-block;
}
img {
    width: 10rem;
    /*opacity: 90%;*/
}
p {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    padding: 1rem;
    font-size: 1.2rem;
}