@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Quicksand:wght@300;400;500;600;700&family=Turret+Road:wght@700&display=swap');

body {
    background-color: #272727;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}
header{
    background-color: #565768;
    margin: 0;
    min-width: 360px;
    text-align: left;
}
footer{
    background-color: #565768;
    padding: 0;
    margin: 0;
    min-width: 360px;
    text-align: left;
}
#logo {
    font-family: 'Turret Road', cursive;
    font-size: 2.2rem;
    color: #ffffff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: inline-block;
    letter-spacing: 0.3rem;
    padding: 0 0 0 2rem;
    margin: 0 0 0 0;
}
nav {
    padding: 1.5rem 0 1.5rem 2rem;
    display: inline-block;
    /*background-color: aqua;*/
}
nav a {
    font-family: 'Gruppo', cursive;
    font-size: 1.6rem;
    color: #ffffff;
    width: 50%;
    margin: 0 1.2rem 0 1.2rem;
    text-decoration: none;
}
#barraEsquerda {
    /*background-color: red;*/
    width: 20%;
/*  float: left;*/
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:top;
}
article {
    display: inline-block;
    padding: 0 0 0 0;
    max-width: 40rem;
    min-width: 40rem;
    /*background-color: rgb(25, 0, 255);*/
    margin: 0 0 0 0;
    border-left: 1px solid rgb(255, 255, 255);
align-items: center;
}
h1, h2, h3 {
    font-family: 'Gruppo', cursive;   
}
h1 {
    font-size: 1.6rem;
    text-align:center;
    margin-top: 1rem;
    padding: 0;
    border: 0;
/*    background-color: darkorchid; */
}
h2 {
    font-size: 1.3rem;
    text-align: left;
    margin-top: 1rem;
    padding-left: 4rem;
    border: 0;
}
h3 {
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    border: 0;
/*    background-color: fuchsia;*/ 
}
p {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    border: 0;
}
  #fredsphoto {
    float:right;
    padding: 0;
    margin-left: 0.7rem;
    border:1px solid rgb(70, 70, 70);  
    height: 15rem;
} 
main {
    text-align: left;    
    padding: 3rem 0 2rem 0;
/*background-color: darkblue;*/
}

/*Exceções específicas*/
p:last-child {
    padding: 0 1rem 1rem 1rem;
  }
#barraEsquerda h3 {
    text-align: center;
}
.socialmediaicon {
 width:3rem;
 opacity: 60%;
}